DT/Model Lab/Q8/Cust/xml-resources/web-service-references/BankServer/wsdl/localhost_8080/BankServer/BankServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank.me.org/" name="BankServer">
<types>
<xsd:schema>
<xsd:import namespace="http://bank.me.org/" schemaLocation="http://localhost:8080/BankServer/BankServer?xsd=1"/>
</xsd:schema>
</types>
<message name="Withdraw">
<part name="parameters" element="tns:Withdraw"/>
</message>
<message name="WithdrawResponse">
<part name="parameters" element="tns:WithdrawResponse"/>
</message>
<message name="showBalance">
<part name="parameters" element="tns:showBalance"/>
</message>
<message name="showBalanceResponse">
<part name="parameters" element="tns:showBalanceResponse"/>
</message>
<message name="Deposite">
<part name="parameters" element="tns:Deposite"/>
</message>
<message name="DepositeResponse">
<part name="parameters" element="tns:DepositeResponse"/>
</message>
<message name="Account_no">
<part name="parameters" element="tns:Account_no"/>
</message>
<message name="Account_noResponse">
<part name="parameters" element="tns:Account_noResponse"/>
</message>
<portType name="BankServer">
<operation name="Withdraw">
<input wsam:Action="http://bank.me.org/BankServer/WithdrawRequest" message="tns:Withdraw"/>
<output wsam:Action="http://bank.me.org/BankServer/WithdrawResponse" message="tns:WithdrawResponse"/>
</operation>
<operation name="showBalance">
<input wsam:Action="http://bank.me.org/BankServer/showBalanceRequest" message="tns:showBalance"/>
<output wsam:Action="http://bank.me.org/BankServer/showBalanceResponse" message="tns:showBalanceResponse"/>
</operation>
<operation name="Deposite">
<input wsam:Action="http://bank.me.org/BankServer/DepositeRequest" message="tns:Deposite"/>
<output wsam:Action="http://bank.me.org/BankServer/DepositeResponse" message="tns:DepositeResponse"/>
</operation>
<operation name="Account_no">
<input wsam:Action="http://bank.me.org/BankServer/Account_noRequest" message="tns:Account_no"/>
<output wsam:Action="http://bank.me.org/BankServer/Account_noResponse" message="tns:Account_noResponse"/>
</operation>
</portType>
<binding name="BankServerPortBinding" type="tns:BankServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Deposite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Account_no">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServer">
<port name="BankServerPort" binding="tns:BankServerPortBinding">
<soap:address location="http://localhost:8080/BankServer/BankServer"/>
</port>
</service>
</definitions>